
.content {
  text-align: center;
  padding-top: 18%;
  padding-bottom: 16.5%;
}
#header {
  background-image: url(https://images.unsplash.com/photo-1511275122506-0607fe36d323?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 22%;
}
#arrowDown {
  text-align: center;
}
#arrowIcon{
  font-size: 70px;
  color: darkolivegreen;
}
#navbarLogo.navbar-brand {
  padding: 0px 0px;

}
#navbarTop {
  background-color: rgba(255,238,230,0.8);

}
.pageFooter {
  background-color: rgba(255,238,230,1);
}
hr.line {
  border: 1px solid seagreen;
}
.footer {
  text-align: center;
}
.hrCard {
  margin-top: 15px;
  margin-bottom: 8px;
}
